{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% include 'partials/_alerts.html' %}

<section class="section-intro bg-primary padding-y">
    <div class="container">
        <div class="my-5">
            <h1 class="text-white"> Best products &amp; <br> brands in our store </h1>
            <p class="lead text-white">Trendy Products, Factory Prices, Excellent Service</p>
            {% if not user.is_authenticated %}
            <a href="{% url 'accounts:vendor_signup' %}" class="btn btn-warning"> Become a Vendor </a>
            <a href="{% url 'accounts:customer_signup' %}" class="btn btn-light"> Register as a Customer </a>
            {% else %}
            <a href="" class="btn btn-warning"> Browse Products </a>
            {% endif %}
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h3 class="mb-4">New products</h3>
        <div class="row">
            {% for product in products %}
                {% include "partials/_product_grid.html" %}
            {% empty %}
                <p>No products on sale</p>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var addCartBtns = document.getElementsByClassName("add-cart")
    for (var i = 0; i < addCartBtns.length; i++) {
        addCartBtns[i].addEventListener('click', function(){
            var productId = this.dataset.product
            var action = this.dataset.action
            console.log('productId:', productId, 'Action:', action)
        })
    }
</script>

{% endblock %}